<ion-grid>
  <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
    <ion-row>      
      <ion-col>
        <ion-item>
          <ion-label position="floating">New password</ion-label>
          <ion-input type="password" formControlName="new_password"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="formControls['new_password'].errors?.['required'] && formControls['new_password'].touched">
          New password is required
        </ion-text>
      </ion-col>
      </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Confirm new password</ion-label>
          <ion-input type="password" formControlName="confirm_password"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="formControls['confirm_password'].errors?.['required'] && formControls['confirm_password'].touched">
          Confirm new password is required
        </ion-text>
        <ion-text color="danger" *ngIf="formControls['confirm_password'].errors?.['passwordMismatch'] && formControls['confirm_password'].touched">
          Passwords do not match
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-button [disabled]="!passwordForm.valid" type="submit">Change Password</ion-button>
  </form>
</ion-grid>
